@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html,
body {
  height: 100%;
  font-family: 'Press Start 2P';
}

body {
  margin: 0;
  padding: 0;
  background-color: #7f9dd5;
  overflow: hidden;
}

h1,
p,
input,
select,
button {
  margin: 0;
  font-family: 'Press Start 2P';
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}