@font-face {
  font-family: Kreon;
  src: url(./assets/fonts/Kreon-Regular.ttf);
}

html,
body {
  height: 100%;
  font-family: 'Kreon';
}

body {
  margin: 0;
  padding: 0;
  background-color: #7f9dd5;
  overflow: hidden;
}

h1,
p,
input,
select,
button {
  margin: 0;
  font-family: 'Kreon';
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}